:root {
  --dark: #13293d;

}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
 


}

.header {
  margin-top: 0;
  
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  text-align: center;
  background-color: var(--dark);
  width: 100%;
  height: 130px;
  justify-content: left;
  color: #fff;

}

.photo {

  margin-top: 0px;

  padding: 30px;
  width: 100px;
  height: 80px;
  border: 2px solid#fff;
  border-radius: 100px;
  background-image: url(./assets/images/jadon.JPG);
  background-size: cover;

}

nav {
  
  display: flex;
  justify-content: right;

}

nav a {
  padding: 10px 35px;
  font-size: 30px;
  text-decoration: none;
  border-bottom: 2px solid var(--dark);
  border-radius: 20px;
}

.Wel {
  padding: 20px;
  margin-left: 80px;
  font-size: 57px;
}

nav a:hover {
  background-color: #13293d;
  color: #fff;
}

main {
  height: 95%;
  width: 100%;
}

.About-Me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 0px;
  width: 100%;
  height: 200px;
}

.About-me-content {

  float: right;
  padding: 20px;
  margin-left: 25px;
font-size: 28px;
  width: 95%;
  border: 2px solid var(--dark);
}

.About-me-title {
  text-align: right;
  font-size: 30px;
  font-style: oblique;
  float: left;
  padding: 20px;
  width: 150px;
  height: 180px;
  border-right: 2px solid var(--dark);
}

.Work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 0px;
  width: 100%;
  height: 500px;
}
  

.Work-content {
  display: flex;
flex-wrap: wrap;
  float: right;
  padding: 20px;
  margin-left: 5px;
  height: 500px;
  width: 89%;
  border: 2px solid var(--dark);
}
.experience{
  margin-top: 5px;
  width: 100%;
  height: 100px;
  border: 2px solid var(--dark);
  background-image: url(../images/ustate.jpg);
  background-size: cover;
}
.works{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.experience2{
  display: flex;
  width: 100%;
  height: 300px;
  

}
.content a{
  float: left;
  text-decoration: none;
  font-family:Arial;
  margin-top: 10px;
  padding: 20px;
  border: 4px solid var(--dark);
  border-radius: 20px;
  
}
.content p{
  float: right;
  margin-top: 20px;
  background-color: aqua;
  
  font-size: 20px;
}

.previousworks{
display: flex;
justify-content: center;
float:inline-end;
border-style: solid;
border-width: 1px;
border-radius: 10px;
padding: 30px;
margin-top: 10px;
flex-direction: column;
height: 155px;
width: 50%;
align-items: center;

}
.previousworks header a{
  text-decoration:solid;
  font-family:Arial; 
  font-size: 20;
  color: #fff;
}
button{
  border: 1px solid var(--dark);
  border-radius: 20px;
  height: 40px;
  
  background-color: var(--dark);
}
.previousworks header{
  margin-top: 10px;
  text-wrap: wrap;
  width: 300px;
}
img{
 
 
  width: 100%;
  height: 100px;
}
.Work-title {
  text-align: right;
  font-size: 30px;
  font-style: oblique;
  float: left;
  padding: 20px;
  width: 150px;
  height:500px;
  border-right: 2px solid var(--dark);
}

.Contact-Me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 0px;
  width: 100%;
  height: 30px;
}

.Contact-me-content {
  display: flex;
  float: right;
  padding: 20px;
  margin-left: 5px;
  height: 30px;
  width: 89%;
  border: 2px solid var(--dark);
  text-align: center;
  justify-content: space-between;
  
}
span{
  text-decoration: underline;
  font-size: 20px;
text-align: center;
  
}

.Contact-me-title {
  text-align: right;
  font-size: 30px;
  font-style: oblique;
  float: left;
  
  width: 150px;
  height: 30px;
  border-right: 2px solid var(--dark);
 
}

.footer {
 
position: fixed;
  height: 5%;
  padding: 20px;
  width: 100%;
  bottom: 0;
  background-color: var(--dark);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size:xx-large;
  text-align: center;
}
p{
  text-align:justify;
  text-size-adjust: 10%;
}
ul{
  list-style-type: square;
}
@media screen and (max-width:1400px) {
  .Wel {
      font-size: 50px;
  }
}

@media screen and (max-width:1200px) {
  .Wel {
      font-size: 30px;
  }
 
}

@media screen and (max-width:992px) {

  main,
  nav {
      flex-direction: column;
  }

  .Wel {
      font-size: 24px;
  }
  .About-Me, .Work, .Contact-Me {
      flex-direction: column;
    height: auto;

  }
  .About-me-title,.Contact-me-title,.Work-title{
      width: 100%;
      height: auto;
      text-align: left;
      border-style: none;
  }

}

@media screen and (max-width:762px) {

  main,
  nav {
      flex-direction: column;
  }

  .Wel {
      font-size: 12px;
  }
  .About-Me, .Work, .Contact-Me {
      flex-direction: column;
    height: auto;

  }
  .About-me-title,.Contact-me-title,.Work-title{
      width: 100%;
      height: auto;
      text-align: left;
      border-style: none;
  }

}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
}
body {
  
  font-family: 'Source Sans Pro', sans-serif;
}

.material-icons {font-size: 18px; margin-left: 4px;}

.center {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 35rem));
  grid-template-rows: repeat(5, min-content);
  justify-items: space-between;
  align-items: center;
  background: #fff;
  border-radius: .4rem;
  box-shadow: 0 0 1.5rem rgba(0,0,0, .25);
  
  @media only screen and (max-width: 790px) {
    grid-template-columns: 50rem;
    grid-column-rows: repeat(6, min-content);
  }
  
  @media only screen and (max-width: 540px) {
    grid-template-columns: minmax(30rem, 40rem);
  }
}

/*  TITLE  */
.title {
 
  grid-column: 1 / 4;
  padding: 2.8rem 4rem;
  margin-bottom: 1.4rem;
  font-size: 3.2rem;
  color: #373737;
  border-radius: .4rem .4rem 0 0;
  background: #f2f2f2;
  font-weight: 700;
}
/*  FORM  */
.form {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 .8rem 4rem;
  position: relative;
  
  @media only screen and (max-width: 790px) {
    margin: 2rem 4rem .8rem 4rem;
  }
}
  .formInput{
  font-size: 1.6rem;
    padding:  1rem 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid #c1c1c1;
    
    &:focus { outline: none; border-bottom: 2px solid #c1c1c1;}
    &:focus:invalid {border-bottom: 2px solid #7581FF;}
  }
.formLabel{
font-size: 1.6rem;
    color: #c1c1c1;
    position: absolute;
    top: 1rem;
    pointer-events: none;
    transition: all .3s;
}
    .formBtn{
     grid-column: 1 / 2;
    grid-row: 5 / 6;
    background: #7581FF;
    color: #fff;
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 1.1rem 0;
    margin: 2.8rem 0 4rem 4rem;
    cursor: pointer;
    border-radius: .4rem;
    box-shadow: 0 .4rem .8rem rgba(0,0,0, .15);
    overflow: hidden;
    position: relative;
    transition: all .2s;
    
    @media only screen and (max-width: 790px) {
    margin: 2.8rem 4rem 4rem 4rem;
  }
    
    &:focus {outline:0;}
    &:hover { background-color: #5162fe;}
    & > * {
      transition: all .4s; 
      transition-delay: 1s; 
      display: inline-block;}
     
  }
    
  .formBtvisiblevisible{ display: flex;
      justify-content: center;
      align-items: center;
      &.invisible {transform: translateY(200%);}}
 .formBtninvisible{
      position: absolute;
      width: 100%;
      left: 0;
      top: -100%;
      &.visible {top: 11px;}
    }

/*  MAIL ICON  */
.containerMail {
  grid-column: 2 / 3;
  grid-row: 2 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31rem;
  height: 28rem;
  margin-bottom: 4rem;
  
  @media only screen and (max-width: 790px) {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    height: 12rem;
    margin-top: 4rem;
    justify-self: center;
  }
}

.mail {
  position: relative;
  top: -4rem;
  left: -6rem;
  @media only screen and (max-width: 790px) {
    left: -27%;
    top: -5rem;
  }
  
  .mailTop {
    position: absolute;
    top: -5.70rem;
    width: 0;
    height: 0;
    border-right: 8rem solid transparent;
    border-left: 8rem solid transparent;
    border-bottom: 5.80rem solid #ffab17;
    z-index: 0;
    &.closed {
      transition: transform .6s .8s, z-index .2s .4s;
      z-index: 2;
      transition-delay: .5s;
      transform-origin: bottom left;
      transform: rotate3d(1,0,0, 180deg);
    }
  }
  .mailBack {
    position: absolute;
    background: #ffab17;
    width: 16rem;
    height: 10rem;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .3);
  }
  .mailLeft {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8rem solid #ffc867;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
  }
    .mailRight {
    position: absolute;
    left: 8rem;
    width: 0;
    height: 0;
    border-right: 8rem solid #ffc867;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
  }
  .mailBottom {
    position: absolute;
    top: 4.92rem;
    width: 0;
    height: 0;
    border-right: 8rem solid transparent;
    border-left: 8rem solid transparent;
    border-bottom: 5.08rem solid #ffbb43;
  }
  .mailLetter {
    position: absolute;
    top: -4rem;
    left: 2rem;
    width: 12rem;
    height: 9rem;
    background: #fff;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .15);
    overflow: hidden;
    transition: all .8s ease;
    &.move {
      transform: translateY(45px);
    }
    & * {
      background: #e0e0e0;
    }
  }
  .mailLetterSquare {
    position: absolute;
    top: 3rem;
    left: 1rem;
    width: 3.8rem;
    height: 4rem;
    &::before {
      content: "";
      position: absolute;
      top:  -2rem;
      width: 10rem;
      height: 1.5rem;
      background: inherit;
    }
  }
  mailLetterLines {
    top: 4.9rem;
    left: 5.8rem;
    &,
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 5rem;
      height: .3rem;
      background: #e0e0e0;
    }
    &::before { top: -1rem; }
    &::after { top: 1rem; }
  }
}
